.collection__wrapper {
	position: relative;
	width: 100rem;
	min-height: 70rem;
	margin: 0 auto;
	margin-top: 5rem;
	border-radius: 2rem;
	background-color: #ece2d8;
	// border: 0.1rem solid black;
}
