.collection__ownerCollection__collectionInfo {
	&__description {
		display: -webkit-box;
		-webkit-line-clamp: 8;
		-webkit-box-orient: vertical;
		min-height: 5rem;
		position: relative;
		font-size: 1.6rem;
		max-height: 100%;
		font-weight: 400;
		color: #3f3f3f;
		line-height: 2.1rem;
		overflow: hidden;
		padding-top: 1rem;
		padding-left: 2rem;
	}
}
