.myCollections {
	&__collections {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		grid-gap: 2rem;
		grid-row-start: 2;
		grid-row-end: 4;
		padding: 1rem;
	}
}
