.collection__ownerCollection__collectionInfo__footer {
	&__likes {
		display: flex;

		&__icon {
			display: flex;
			justify-content: center;
			width: 5rem;
			align-items: center;
			padding: 1rem;

			&__icon {
				width: 2.3rem;
				cursor: pointer;
			}
		}
		&__counter {
			display: flex;
			flex: 1 1 auto;
			justify-content: flex-start;
			align-items: center;
			font-size: 2rem;
			color: black;
		}
	}
}
